- if logged_in?(:site_admin)
  %nav.breadcrumb.blogcrumb
    = link_to fa_icon("file-text"), toggle_status_blog_path(blog), :class => "breadcrumb-item", :style => blog_status_color(blog)
    = link_to fa_icon("pencil-square-o"), edit_blog_path(blog), :class => "breadcrumb-item"
    = link_to fa_icon("trash"), blog, :method => :delete, :data => { confirm: 'Are you sure you want to delete that post?' }, :class => "breadcrumb-item"
