<div class="col-sm-8 blog-main">
    <h2>Editing "<%= @blog.title %>"</h1>

    <%= render 'form', blog: @blog %>

    <%= link_to 'View Post', @blog %> |
    <%= link_to 'Back to Blog', blogs_path %>
</div><!-- /.blog-main -->