<div class="col-sm-8 blog-main">
  
  <h2 class="blog-post-title topic-title"><%= @topic.title %></h2>

  <%= paginate @blogs %>
    
  <%= render @blogs %>

  <%= paginate @blogs %>

</div><!-- /.blog-main -->