.row__medium-1-3
  = image_tag portfolio_img(portfolio_item.thumb_image, "thumb"), :alt => "#{[portfolio_item.title]}", :style => 'object-fit: cover; width: 350px!important; height: 200px!important;'
  %h3
    = link_to portfolio_item.title, portfolio_show_path(portfolio_item)
    %small= portfolio_item.subtitle
