.row__medium-1-3
  = image_tag portfolio_img(portfolio_item.thumb_image, "thumb"), :alt => "#{[portfolio_item.title]}", :height => 200, :width => 350, :style => 'object-fit: cover;'
  %h3
    = link_to portfolio_item.title, portfolio_show_path(portfolio_item)
    %small= portfolio_item.subtitle
