<div class="form-group form-inline nested-fields">
  <%= f.text_field :name, class: 'form-control mr-3 col-6', 'aria-label': :name %>
  <%= link_to_remove_association 'Remove Technology', f, class: "btn btn-danger mr-3 col-3" %>
</div>