<div class="blog-header">
    <div class="container">
        <h1 class="blog-title">Chazona's Blog</h1>
        <p class="lead blog-description">Web design, development and business.</p>
        <%= link_to "Write a New Post", new_blog_path if logged_in?(:site_admin) %>
    </div>
</div>