<div class="collapse bg-inverse" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Using a variety of modern tools, I design and execute cohesive websites that flow and stimulate the senses.</p>
                <p class="text-muted">With an understanding of both stylistic animation and dynamic scripting, I am able to breathe life into content made for the web.</p>
            </div>
            <div class="col-sm-4 py-4">
                <h4 class="text-white">Explore</h4>
                <ul class="list-unstyled">
                    <%= nav_helper 'text-white', 'li' %>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse bg-inverse">
    <div class="container d-flex justify-content-between">
        <a href="<%= root_path%>" class="navbar-brand">Chazona Baum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>