%h1= "Chazona's Portfolio"
%p= "Here you'll find samples of the work I've done, from graphic and web design to front- and back-end development."
%p
  = link_to "About Me", about_path
  = link_to "Contact Me", new_message_path
  