<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Chazona's Portfolio</h1>
        <p class="lead text-muted">Here you'll find samples of the work I've done, from graphic and web design to front- and back-end development.</p>
        <p>
            <%= link_to "Find out more about me", about_path, class: 'btn btn-primary' %>
            <%= link_to "Read my latest posts", blogs_path, class: 'btn btn-secondary' %>
        </p>
    </div>
</section>