<div id="resume">
  <section>
    <div class="row justify-content-between">
      <div class="col-4">
        <a href="tel:+17576176964">(757) 617-6964</a>
      </div>
      <div class="col-4 text-right">
        <a href="https://github.com/chznbaum">github.com/chznbaum</a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <a href="mailto:chazona@chazonabaum.com" class="break-word">chazona@chazonabaum.com</a>
      </div>
      <div class="col-4 text-center resume-name">Chazona Baum</div>
      <div class="col-4 text-right">
        <a href="https://codepen.io/chznbaum">codepen.io/chznbaum</a>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4">
        <a href="https://chazonabaum.com">chazonabaum.com</a>
      </div>
      <div class="col-4 text-right"><a href="https://twitter.com/chznbaum">twitter.com/chznbaum</a></div>
    </div>
  </section>
  <section>
    <h2>
      Front End Developer with Experience Building Full-Stack Applications
    </h2>

  </section>

  <section>
    <h3>
      Experience
    </h3>

    <div class="row resume-experience-item">
      <div class="col-4">Freelance Web Developer</div>
      <div class="col-4 text-center"><a href="https://www.solutionsbychazona.com">Solutions by Chazona</a></div>
      <div class="col-4 text-right">Aug 2017 - Present</div>
    </div>
    <div class="row">
      <ul>
        <li>Utilized CSS3, HTML5, JavaScript and Jekyll</li>
      </ul>
    </div>
    <div class="row resume-experience-item">
      <div class="col-4">Freelance Full-Stack Developer</div>
      <div class="col-4 text-center"><a href="https://lunaconstant.com">LunaConstant.com</a></div>
      <div class="col-4 text-right">Jul 2017 - Aug 2017</div>
    </div>
    <div class="row">
      <ul>
        <li>Planned and developed an invitation-only photo-sharing website for a new mom</li>
        <li>Implemented mailers, likes, threaded comments with polymorphic model relationships, and custom support ticket system</li>
        <li>Utilized Ruby on Rails 5, PostgreSQL and Bootstrap 3</li>
      </ul>
    </div>
    <div class="row resume-experience-item">
      <div class="col-4">Webmaster</div>
      <div class="col-4 text-center"><a href="https://midlothiancode.com">Midlothian Code</a></div>
      <div class="col-4 text-right">Oct 2016 - Jul 2017</div>
    </div>
    <div class="row">
      <ul>
        <li>Established self-hosted WordPress website for Midlothian Code meetup</li>
        <li>Customized premium WordPress theme to suit the organization</li>
        <li>Implemented event management, ecommerce, and job listing features</li>
      </ul>
    </div>

  </section>

  <section>

    <h3>Projects</h3>

    <div class="row">
      <ul>
        <li><a href="https://chznbaum.github.io/local-weather-app/">Local Weather</a>: Geolocates user and provides weather data for the week, falls back to IP location</li>
        <li><a href="https://codepen.io/chznbaum/full/GWqpqj/">Pokemon Monster Battle Game</a>: Turn-by-turn battle mini-game using Vue.js</li>
        <li>Pure CSS Vector Graphics, such as recreations of a <a href="https://codepen.io/chznbaum/full/WRoybZ/">Ruler</a> and the character <a href="https://codepen.io/chznbaum/live/mREzdw">Mojo Jojo</a></li>
      </ul>
    </div>

  </section>

  <section>
    <h3>
      Volunteering
    </h3>

    <div class="row resume-experience-item">
      <div class="col-4">Member</div>
      <div class="col-4 text-center">Code for Hampton Roads</div>
      <div class="col-4 text-right">Dec 2017 - Present</div>
    </div>
    <div class="row resume-experience-item">
      <div class="col-4">Founder</div>
      <div class="col-4 text-center">Midlothian Code</div>
      <div class="col-4 text-right">Oct 2016 - Jul 2017</div>
    </div>
    <div class="row">
      <ul>
        <li>Grew local meeetup to 20 in-person members and 71 online members within first year</li>
        <li>Planned and coordinated 13 technical educational community events</li>
      </ul>
    </div>

  </section>

  <section>
  
    <h3>Accomplishments</h3>

    <div class="row">
      <ul>
        <li>Awarded scholarship to attend RubyConf2017</li>
        <li>Featured on The Practical Dev front page for article on <a href="https://dev.to/chznbaum/roughing-it-dev-style-coding-without-a-computer">web development without a computer</a></li>
        <li>Featured in the <a href="https://codepen.io/spark/16">CodePen Spark</a> for custom-CSS profile</li>
      </ul>
    </div>

  </section>

  <section>
  
    <h3>Skills</h3>

    <div class="row">
      <ul>
        <li>CSS3, HTML5, JavaScript, Bootstrap 3/4, Rails 5, PostCSS, Git, jQuery, WordPress, Sass/SCSS, AJAX/JSON</li>
        <li>Responsive Web Design, API Integration</li>
        <li>Working knowledge of the following: Vue.js, Ruby, Node.js, PHP, PostgreSQL, Adobe Photoshop, Adobe Lightroom, Adobe InDesign</li>
      </ul>
    </div>

  </section>

  <section>
    <h3>
      Education
    </h3>
    
    <div class="row justify-content-between resume-experience-item">
      <div class="col-4">Independent Study</div>
      <div class="col-4 text-right">Jul 2016 - Present</div>
    </div>
    <div class="row">
      <ul>
        <li>Resources: Free Code Camp, Udemy, Udacity</li>
      </ul>
    </div>
  </section>
  <p class="text-center">
    <a href="https://s3.amazonaws.com/chazona-portfolio-bucket/uploads/resume/BaumChazona201712.pdf" role="button" class="btn btn-inverse mb-3" download>Download .pdf</a>
  </p>
</div>