<div id="resume">
  <section>
    <p class="text-center">
      Chazona Baum</br>
      Chesapeake, VA 23322</br>
      Mobile: <a href="tel:+17576176964">(757) 617-6964</a> | Email: <a href="mailto:chazona@chazonabaum.com">chazona@chazonabaum.com</a></br>
      Website/Portfolio: <a href="https://chazonabaum.com">chazonabaum.com</a></br>
      GitHub: <a href="https://github.com/chznbaum">github.com/chznbaum</a> | CodePen: <a href="https://codepen.io/chznbaum">codepen.io/chznbaum</a></br>
      Twitter: <a href="https://twitter.com/chznbaum">twitter.com/chznbaum</a>
    </p>
  </section>
  <section>
    <h2>
      Full Stack Ruby on Rails Developer
    </h2>

    <ul>
      <li>Web developer able to take a website from concept to deployment, including front-end and back-end development</li>
      <li>Fast learner who is proficient in a variety of programming and scripting technologies</li>
      <li>Community minded professional who assists and builds up fellow developers</li>
    </ul>
  </section>

  <section>
    <h3>
      Skills
    </h3>

    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>
            HTML
            <% 3.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            CSS
            <% 3.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            Bootstrap
            <% 3.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            Rails
            <% 3.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            WordPress
            <% 3.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            Git
            <% 2.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            JavaScript
            <% 2.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            jQuery
            <% 2.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            Sass
            <% 2.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li>
            AJAX
            <% 2.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            XHTML
            <% 1.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            XML
            <% 1.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            Vue.js
            <% 1.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            Ruby
            <% 1.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            Node.js
            <% 1.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            PHP
            <% 1.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            PostgreSQL
            <% 1.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
          <li>
            MySQL
            <% 1.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h3>
      Experience
    </h3>

    <p>
      2016: Webmaster at Midlothian Code
      <ul>
        <li>Established self-hosted website for Midlothian Code meetup (<a href="https://midlothiancode.com">midlothiancode.com</a>) utilizing WordPress and featuring event management, ecommerce and job listings</li>
        <li>Customized premium WordPress theme to suit the organization</li>
      </ul>
    </p>
  </section>

  <section>
    <h3>
      Community Service
    </h3>

    <p>
      2016 - Present: Founded code meetup group Midlothian Code
      <ul>
        <li>Grew meetup to 20 in-person members and 71 online members</li>
        <li>Planned and coordinated educational community events</li>
      </ul>
    </p>
  </section>

  <section>
    <h3>
      Education
    </h3>
    <p>
      2016 - Present: freeCodeCamp (Online)<br>
      Full Stack Web Development Certification in progress
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>HTML5 and CSS</li>
            <li>Responsive Web Design with Bootstrap</li>
            <li>Applied Visual Design</li>
            <li>Applied Accessibility</li>
            <li>CSS Flexbox</li>
            <li>jQuery</li>
          </div>
          <div class="col-md-6">
            <li>Basic JavaScript</li>
            <li>Object Oriented and Functional Programming</li>
            <li>JSON APIs and Ajax</li>
            <li>Algorithm Scripting</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
    </p>
  </section>
  <p class="text-center">
    <a href="https://s3.amazonaws.com/chazona-portfolio-bucket/uploads/resume/BaumChazona20170703.txt" role="button" class="btn btn-inverse mb-3" download>Download .txt</a>
    <a href="https://s3.amazonaws.com/chazona-portfolio-bucket/uploads/resume/BaumChazona20170703.pdf" role="button" class="btn btn-inverse mb-3" download>Download .pdf</a>
  </p>
</div>