<h1><%= @page_title %></h1>

<p>My name is Chazona Baum, and I am a self-taught front-end developer with diverse experiences in industries ranging from food service to veterinary medicine to insurance.</p>

<p>My two young children help shape my perspective, and drive me to create experiences that are accessible, friendly, and with a hint of magic.</p>

<p>My love of code sprang from my love of language. Where some see confusing symbols, I see an elegant form of communication and expression, and a way for people to extend their capabilities and accomplish the previously impossible.</p>

<p>My belief in the positive potential of code and technology drove me to found Midlothian Code, a local nonprofit geared to expanding access to code-based skills and employment and removing barriers to the industry.</p>

<p class="lead">
    <%= link_to "See What I Do", portfolios_path, class: "btn btn-lg btn-secondary" %>
</p>