<h1><%= @page_title %></h1>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-block">
  
        <p class="lead">If you need to create or update a web presence for yourself, your business, or your nonprofit, talk to me and we can grab a cup of coffee while we discuss your needs.</p>

        <p class="lead">I am also available for full-time or contract work with the right company. Contact me if your users are your passion and you think we might work well together.</p>
        <p><a href="mailto:chazona+portfolio@chazonabaum.com?subject=PortfolioContact" "email">Email</a>
      </div>
    </div>
  </div>
  <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101379.94674258192!2d-77.7451351634445!3d37.4341910489517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b1715ccaeb20c9%3A0xc1bae7f9516ef2c2!2sMidlothian%2C+VA+23112!5e0!3m2!1sen!2sus!4v1493692451036" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>