<h1><%= @page_title %></h1>

<p>If you need to create or update a web presence for yourself, your business, or your nonprofit, talk to me and we can grab a cup of coffee while we discuss your needs.</p>

<p>I am also available for full-time or contract work with the right company. Contact me if your users are your passion and you think we might work well together.</p>
