<div class="inner cover">
  <h1 class="cover-heading">Web Experiences That Delight</h1>
  <p class="lead">Web Development by Chazona Baum</p>
  <p>
    <%= link_to 'Learn More', about_path, class: 'btn btn-inverse' %>
    <%= link_to 'View My Portfolio', portfolios_path, class: 'btn btn-primary' %>
  </p>
</div>