<div class="inner cover">
  <h1 class="cover-heading">Web Experiences That Delight</h1>
  <p class="lead">Web Development by Chazona Baum</p>
  <p>
    <%= link_to 'View Resume', resume_path, class: 'btn btn-inverse' %>
    <%= link_to 'Contact Me', new_message_path, class: 'btn btn-primary' %>
  </p>
</div>