<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Recent Posts</h2>
<% @posts.each do |post| %>
  <article>
    <h3><%= post.title %></h3>
    <div><%= post.body %></div>
  </article>
<% end %>
<h2>Skills</h2>
<% @skills.each do |skill| %>
  <p><%= skill.title %>: <%= skill.percent_utilized %></p>
<% end %>
