<div class="inner-container">
  <div class="card card-left card-resume">
    <div class="card-block">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <%= render 'shared/resume' %>
        </div>
      </div>
    </div>
  </div>
</div>