// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "gritter";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgba(0,0,0,0.875);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: AvenirNextPro;
  color: rgba(0,0,0,0.875);
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.3);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  height: 150vh;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

@media (min-width: 48em) {
  /*.navbar-brand {
    float: left;
  }
  .navbar-collapse {
    float: right;
  }*/
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(0,0,0,0.875);
  z-index: -1;
  height: 30vw;
}

//.navbar,
.mastfoot,
.cover-container {
  width: 100vw; /* Must be percentage or pixels for horizontal alignment */
}

@media (min-width: 70em) {
  //.navbar,
  .mastfoot,
  .cover-container {
    width: 65rem;
  }
}

/*
 * Custom Styles
 */
.card {
  background-color: rgba(245,245,245,1);
  border: solid 1px rgba(0,0,0,0.2);
  a {
    color: #0275d8;
  }
}

.card-block {

  form {
    text-align: left;
  }
}

.card-left {
  text-align: left;
}

.login {
  .card {
    width: 22rem;
    margin: 0 auto;
    float: none;
  }
}

.app-nav {
  span {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#background, #background-video {
  position: fixed;
  top: 50vh;
  left: 50vw;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-image: url(https://s3.amazonaws.com/chazona-portfolio-bucket/uploads/assets/images/typing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 200vh;
  z-index: -99;
  background-color: rgba(245,245,245,0.4);
}

@media (max-width: 767px) {
  video {
    display:none !important;
  }
}

.profile-image {
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
  border: solid 1px rgba(0,0,0,0.2);
  margin-bottom: 1em;
}

.tech-news {
  margin: 0.5em;
  .card {
    padding: 0.5em;
  }
}

.progress {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border: solid 1px rgba(0,0,0,0.2);
  .progress-bar {
    height: 2em;
    .progress-label {
      font-size: 1.4em;
      line-height: 1.6em;
      font-weight: bold;
    }
  }
}

.card-block {
  .card {
    margin-bottom: 1em;
    img {
      border-radius: .25em;
      border: solid 1px rgba(0,0,0,0.2);
    }
  }
}

//.navbar,
.app-footer,
.card {
  max-width: 100vw;
}

.navbar {
  width: 100vw;
  margin-bottom: 3em;
}

#navbarHeader {
  width: 100vw;
  text-align: left;
}

.navbar-brand {
  font-weight: bold;
}

#navbarHeader {
  p {
    color: rgba(255,255,255,0.75);
  }
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inner.cover {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  min-height: 70vh;
}