// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "jquery-ui";
@import "gritter";

body {
  font-family: AvenirNextPro;
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

img {
  object-fit: cover;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  height: 350px;
}

.card > img {
  margin-bottom: .75rem;
  max-height: 250px;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*
 * Custom styles
 */
.portfolio-container {
  padding-top: 20px;
}

.navbar-brand {
  font-weight: bold;
}

#navbarHeader {
  p {
    color: rgba(255,255,255,0.75);
  }
}

.btn.btn-primary {
  @media screen and (max-width: 700px) {
    margin-bottom: 1em;
  }
}